.cursor {
    cursor: pointer;
}

.playstore:hover .picon {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.appstore:hover .aicon {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.yellow-bg {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main3.svg');
    background-position: center;
    background-size: cover;
    padding: 30px;
}

.heart {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 10000;
    font-size: 14px;
    background: transparent;
}

@keyframes heart {

    0%,
    10%,
    50%,
    100% {
        transform: scale(1);
    }

    5%,
    15% {
        transform: scale(1.1);
    }
}

.fullimg {
    display: none;
}

.mainBtn {
    top: 35px;
    right: 30px;
}

.cloud-bg {
    position: relative;
    display: block;
}

.cloud {
    animation: cloud 11s ease-in-out infinite;
}

@keyframes cloud {
    0%,
    95%,
    100% {
        transform: scale(0) translateY(380px);
        opacity: 0;
    }

    20%,
    75% {
        transform: scale(0.97) translateY(0px);
        opacity: 1;
    }

    35%, 45%, 55% ,65%, 75%  {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }

    40%,50%, 60% , 70% {
        transform: scale(0.97) translateY(0px);
        opacity: 1;
    }

    88%, 10%  {
        opacity: 0;
    }
}


.icon2 {
    position: absolute;
    animation: icon2 11s ease-in-out infinite;
}

@keyframes icon2 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.3;
        left: 190px;
        top: 370px;
        transform: rotate(-180deg) scale(0);
    }

    30%,
    65% {
        opacity: 1;
        left: 50px;
        top: 20px;
        transform: rotate(0deg) scale(1);
    }
}


.icon-bg {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
}


.face-bg {
    position: absolute;
    bottom: -30px;
    left: 20%;
}



.icon1 {
    width: 22%;
    position: absolute;
    animation: icon1 11s ease-in-out infinite;
}

@keyframes icon1 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.5;
        left: 220px;
        bottom: 100px;
        transform: scale(0);
    }

    35%,
    65% {
        opacity: 1;
        left: 220px;
        bottom: 200px;
        transform: scale(1);
    }
}



.icon3 {
    position: absolute;
    width: 25%;
    animation: icon3 11s ease-in-out infinite;
}

@keyframes icon3 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.5;
        right: 190px;
        bottom: 80px;
        transform: rotate(-180deg) scale(0);
    }

    35%,
    65% {
        opacity: 1;
        right: 20px;
        bottom: 230px;
        transform: rotate(0deg) scale(1);
    }
}



.icon4 {
    position: absolute;
    width: 25%;
    animation: icon4 11s ease-in-out infinite;
}

@keyframes icon4 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.5;
        left: 160px;
        top: 340px;
        transform: rotate(180deg) scale(0);
    }

    35%,
    65% {
        opacity: 1;
        left: 20px;
        top: 140px;
        transform: rotate(0deg) scale(1);
    }
}


.icon5 {
    position: absolute;
    width: 20%;
    animation: icon5 11s ease-in-out infinite;
}

@keyframes icon5 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.5;
        right: 150px;
        top: 340px;
        transform: rotate(-180deg) scale(0);
    }

    35%,
    65% {
        opacity: 1;
        right: 90px;
        top: 20px;
        transform: rotate(0deg) scale(1);
    }
}


.icon6 {
    position: absolute;
    width: 25%;
    animation: icon6 11s ease-in-out infinite;
}

@keyframes icon6 {

    0%,
    10%,
    80%,
    100% {
        opacity: 0.5;
        right: 200px;
        top: 340px;
        transform: rotate(180deg) scale(0);
    }

    35%,
    65% {
        opacity: 1;
        right: 200px;
        top: 70px;
        transform: rotate(0deg) scale(1);
    }
}

// ============== PRANK-LINK ======================
.img-div{
    width: 350px;
    height: 480px;
}

.img-div2{
    width: 350px;
    height: 380px;
}

.share-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #F9E238;
    border-radius: 100%;
    line-height: 53px;
    text-align: center;
}

// ================== PrankBtn ======================
.btnlol {
    animation: showImage 4s ease-in-out infinite;
}

@keyframes showImage {
    0%,20% {
      transform: translateY(0); 
    }
    45% {
      transform: translateY(-50px); 
      opacity: 1;
    }
    50% {
      transform: translateY(-100px); 
      opacity: 0; 
    }
    75% {
      transform: translateY(50px);
      opacity: 0; 
    }
    95% {
      transform: translateY(0); 
    }
}

.btntext {
    animation: showText 4s ease-in-out infinite;
}

@keyframes showText {
    0%,30% {
      transform: translateY(0); 
    }
    45%, 65% {
      transform: translateY(-35px);
      opacity: 1;
    }
    80% {
      transform: translateY(-70px);
      opacity: 0; 
    }
    85% {
      transform: translateY(50px); 
      opacity: 0; 
    }
    100% {
      transform: translateY(0); 
    }
}

  
// ============== Media Query======================

@media (max-width:576px) and (min-width:0px) {
    .face-bg {
        width: 50%;
        left: 25%;
    }

    .mainBtn {
        top: 20px;
        right: 25px;
    }

    .heart {
        right: 0px;
        width: 100%;
        text-align: center;
    }
    .icon1 {
        width: 18%;
    }

}


@media (max-width:699px) and (min-width:600px) {
    
    @keyframes icon1 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            left: 200px;
            bottom: 140px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65% {
            opacity: 1;
            left: 200px;
            bottom: 150px;
            transform: rotate(0deg) scale(1);
        }
    }

    .face-bg {
        width: 50%;
        left: 25%;
    }
}


@media (max-width:599px) and (min-width:500px) {
   
    @keyframes icon1 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            left: 180px;
            bottom: 120px;
            transform: rotate(180deg) scale(0);
        }

        35%,
        65% {
            opacity: 1;
            left: 180px;
            bottom: 130px;
            transform: rotate(0deg) scale(1);
        }
    }

    .icon2 {
        width: 25%;
    }

    @keyframes icon2 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            left: 190px;
            top: 330px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65% {
            opacity: 1;
            left: 50px;
            top: -20px;
            transform: rotate(0deg) scale(1);
        }
    }

    .face-bg {
        width: 50%;
        left: 25%;
    }
}


@media (max-width:499px) and (min-width:390px) {

    @keyframes cloud {
        0%,
        95%,
        100% {
            transform: scale(0) translateY(380px);
            opacity: 0;
        }
    
        20%,
        75% {
            transform: scale(0.97) translateY(0px);
            opacity: 1;
        }
    
        35%, 45%, 55% ,65%, 75%  {
            transform: scale(1) translateY(0px);
            opacity: 1;
        }
    
        40%,50%, 60% , 70% {
            transform: scale(0.97) translateY(0px);
            opacity: 1;
        }
    
        90%, 10%  {
            opacity: 0;
        }
    }

    .icon1 {
        width: 18%;
    }

    @keyframes icon1 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            left: 125px;
            bottom: 70px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65% {
            opacity: 1;
            left: 125px;
            bottom: 90px;
            transform: rotate(0deg) scale(1);
        }
    }

    .icon2 {
        width: 25%;
    }

    @keyframes icon2 {
        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
            transform: rotate(180deg) scale(0);
        }

        35%,
        65%  {
            opacity: 1;
            left: 50px;
            top: -20px;
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes icon3 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            right: 170px;
            bottom: 40px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65%  {
            opacity: 1;
            right: 20px;
            bottom: 180px;
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes icon4 {

        0%,
        10%,
        80%,
        100%{
            opacity: 0.5;
            left: 160px;
            top: 250px;
            transform: rotate(180deg) scale(0);
        }

        35%,
        65% {
            opacity: 1;
            left: 20px;
            top: 140px;
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes icon5 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            right: 150px;
            top: 250px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65%  {
            opacity: 1;
            right: 90px;
            top: 20px;
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes icon6 {

        0%,
        10%,
        80%,
        100% {
            opacity: 0.5;
            right: 140px;
            top: 250px;
            transform: rotate(-180deg) scale(0);
        }

        35%,
        65%  {
            opacity: 1;
            right: 160px;
            top: 70px;
            transform: rotate(0deg) scale(1);
        }
    }


    .face-bg {
        width: 60%;
        left: 20%;
    }
}


@media (max-width:389px) and (min-width:0px) {

    .fullimg {
        display: block;
    }

    .cloud-bg {
        display: none;
    }

    .img-div{
        width: 300px;
        height: 430px;
    }

    .img-div2{
        width: 300px;
        height: 360px;
    }
}



