.cursor {
    cursor: pointer;
}

.playstore:hover .picon {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.appstore:hover .aicon {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.yellow-bg {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main3.svg');
    background-position: center;
    background-size: cover;
    padding: 30px;
}

.heart {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 10000;
    font-size: 14px;
    background: transparent;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.fullimg {
    display: none;
}

.mainBtn {
    top: 35px;
    right: 30px;
}

.cloud-bg {
    position: relative;
    display: block;
}

.cloud {
    animation: cloud 8s ease-in-out infinite;
}

@keyframes cloud {
    0% {
        transform: scale(0) translateY(650px);
        opacity: 0;
    }

    10% {
        transform: scale(0.95) translateY(0px);
        opacity: 1;
    }
    92% {
        transform: scale(0.95) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0) translateY(650px);
        opacity: 0;
    }
}




.icon-bg {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 100%;
    width: 100%;
}


.face-bg {
    position: absolute;
    bottom: 0;
    left: 20%;
}



.icon1 {
    width: 22%;
    position: absolute;
    animation: icon1 8s ease-in-out infinite;
    left: 220px;
    bottom: 100px;
}

@keyframes icon1 {
    0% {
        opacity: 0.5;
        left: 220px;
        bottom: 100px;
    }

    15% {
        opacity: 0.5;
        left: 220px;
        bottom: 100px;
    }

    25% {
        opacity: 1;
        left: 220px;
        bottom: 230px;
    }

    85% {
        opacity: 1;
        left: 220px;
        bottom: 230px;
    }

    100% {
        opacity: 0.5;
        left: 220px;
        bottom: 100px;
    }
}


.icon2 {
    position: absolute;
    animation: icon2 8s ease-in-out infinite;
    left: 190px;
    top: 370px;
}

@keyframes icon2 {
    0% {
        opacity: 0.5;
        left: 190px;
        top: 370px;
    }

    15% {
        opacity: 0.5;
        left: 190px;
        top: 370px;
    }

    25% {
        opacity: 1;
        left: 50px;
        top: 20px;
    }

    85% {
        opacity: 1;
        left: 50px;
        top: 20px;
    }

    100% {
        opacity: 0.5;
        left: 190px;
        top: 370px;
    }
}

.icon3 {
    position: absolute;
    width: 25%;
    animation: icon3 8s ease-in-out infinite;
    right: 190px;
    bottom: 80px;
}

@keyframes icon3 {
    0% {
        opacity: 0.5;
        right: 190px;
        bottom: 80px;
    }

    15% {
        opacity: 0.5;
        right: 190px;
        bottom: 80px;
    }

    25% {
        opacity: 1;
        right: 20px;
        bottom: 230px;
    }

    85% {
        opacity: 1;
        right: 20px;
        bottom: 230px;
    }

    100% {
        opacity: 0.5;
        right: 190px;
        bottom: 80px;
    }
}



.icon4 {
    position: absolute;
    width: 25%;
    animation: icon4 8s ease-in-out infinite;
    left: 160px;
    top: 340px;
}

@keyframes icon4 {
    0% {
        opacity: 0.5;
        left: 160px;
        top: 340px;
    }

    15% {
        opacity: 0.5;
        left: 160px;
        top: 340px;
    }

    25% {
        opacity: 1;
        left: 20px;
        top: 140px;
    }

    85% {
        opacity: 1;
        left: 20px;
        top: 140px;
    }

    100% {
        opacity: 0.5;
        left: 160px;
        top: 340px;
    }
}


.icon5 {
    position: absolute;
    width: 20%;
    animation: icon5 8s ease-in-out infinite;
    right: 150px;
    top: 340px;
}

@keyframes icon5 {
    0% {
        opacity: 0.5;
        right: 150px;
        top: 340px;
    }

    15% {
        opacity: 0.5;
        right: 150px;
        top: 340px;
    }

    25% {
        opacity: 1;
        right: 90px;
        top: 20px;
    }

    85% {
        opacity: 1;
        right: 90px;
        top: 20px;
    }

    100% {
        opacity: 0.5;
        right: 150px;
        top: 340px;
    }
}


.icon6 {
    position: absolute;
    width: 25%;
    animation: icon6 8s ease-in-out infinite;
    right: 200px;
    top: 340px;
}

@keyframes icon6 {
    0% {
        opacity: 0.5;
        right: 200px;
        top: 340px;
    }

    15% {
        opacity: 0.5;
        right: 200px;
        top: 340px;
    }

    25% {
        opacity: 1;
        right: 200px;
        top: 70px;
    }

    85% {
        opacity: 1;
        right: 200px;
        top: 70px;
    }

    100% {
        opacity: 0.5;
        right: 200px;
        top: 340px;
    }
}

// ====================================



@media (max-width:576px) and (min-width:0px) {

    .face-bg {
        width: 50%;
        left: 25%;
    }

    .mainBtn {
        top: 40px;
        right: 25px;
    }
}


@media (max-width:699px) and (min-width:600px) {
    .icon1 {
        width: 18%;
        left: 200px;
        bottom: 140px;
    }

    @keyframes icon1 {
        0% {
            opacity: 0.5;
            left: 200px;
            bottom: 140px;
        }

        15% {
            opacity: 0.5;
            left: 200px;
            bottom: 140px;
        }

        25% {
            opacity: 1;
            left: 200px;
            bottom: 170px;
        }

        85% {
            opacity: 1;
            left: 200px;
            bottom: 170px;
        }

        100% {
            opacity: 0.5;
            left: 200px;
            bottom: 140px;
        }
    }

    .face-bg {
        width: 50%;
        left: 25%;
    }
}


@media (max-width:599px) and (min-width:500px) {
    .icon1 {
        width: 18%;
        left: 180px;
        bottom: 120px;
    }

    @keyframes icon1 {
        0% {
            opacity: 0.5;
            left: 180px;
            bottom: 120px;
        }

        15% {
            opacity: 0.5;
            left: 180px;
            bottom: 120px;
        }

        25% {
            opacity: 1;
            left: 180px;
            bottom: 150px;
        }

        85% {
            opacity: 1;
            left: 180px;
            bottom: 150px;
        }

        100% {
            opacity: 0.5;
            left: 180px;
            bottom: 120px;
        }
    }

    .icon2 {
        width: 25%;
        left: 190px;
        top: 330px;
    }

    @keyframes icon2 {
        0% {
            opacity: 0.5;
            left: 190px;
            top: 330px;
        }

        15% {
            opacity: 0.5;
            left: 190px;
            top: 330px;
        }

        25% {
            opacity: 1;
            left: 50px;
            top: -20px;
        }

        85% {
            opacity: 1;
            left: 50px;
            top: -20px;
        }

        100% {
            opacity: 0.5;
            left: 190px;
            top: 330px;
        }
    }

    .face-bg {
        width: 50%;
        left: 25%;
    }
}


@media (max-width:499px) and (min-width:400px) {

    @keyframes cloud {
        0% {
            transform: scale(0) translateY(380px);
            opacity: 0;
        }
    
        10% {
            transform: scale(0.95) translateY(0px);
            opacity: 1;
        }
        92% {
            transform: scale(0.95) translateY(0px);
            opacity: 1;
        }
        100% {
            transform: scale(0) translateY(380px);
            opacity: 0;
        }
    }

    .icon1 {
        width: 18%;
        left: 155px;
        bottom: 110px;
    }

    @keyframes icon1 {
        0% {
            opacity: 0.5;
            left: 155px;
            bottom: 110px;
        }

        15% {
            opacity: 0.5;
            left: 155px;
            bottom: 110px;
        }

        25% {
            opacity: 1;
            left: 155px;
            bottom: 130px;
        }

        85% {
            opacity: 1;
            left: 155px;
            bottom: 130px;
        }

        100% {
            opacity: 0.5;
            left: 155px;
            bottom: 110px;
        }
    }

    .icon2 {
        width: 25%;
        left: 160px;
        top: 250px;
    }

    @keyframes icon2 {
        0% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }

        15% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }

        25% {
            opacity: 1;
            left: 50px;
            top: -20px;
        }

        85% {
            opacity: 1;
            left: 50px;
            top: -20px;
        }

        100% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }
    }

    .icon3 {
        right: 170px;
        bottom: 40px;
    }

    @keyframes icon3 {
        0% {
            opacity: 0.5;
            right: 170px;
            bottom: 40px;
        }

        15% {
            opacity: 0.5;
            right: 170px;
            bottom: 40px;
        }

        25% {
            opacity: 1;
            right: 20px;
            bottom: 180px;
        }

        85% {
            opacity: 1;
            right: 20px;
            bottom: 180px;
        }

        100% {
            opacity: 0.5;
            right: 170px;
            bottom: 40px;
        }
    }

    @keyframes icon4 {
        0% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }

        15% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }
        

        25% {
            opacity: 1;
            left: 20px;
            top: 140px;
        }

        85% {
            opacity: 1;
            left: 20px;
            top: 140px;
        }

        100% {
            opacity: 0.5;
            left: 160px;
            top: 250px;
        }
    }

    @keyframes icon5 {
        0% {
            opacity: 0.5;
            right: 150px;
            top: 250px;
        }

        15% {
            opacity: 0.5;
            right: 150px;
            top: 250px;
        }

        25% {
            opacity: 1;
            right: 90px;
            top: 20px;
        }

        85% {
            opacity: 1;
            right: 90px;
            top: 20px;
        }

        100% {
            opacity: 0.5;
            right: 150px;
            top: 250px;
        }
    }

    .icon6 {
        right: 140px;
        top: 250px;
    }

    @keyframes icon6 {
        0% {
            opacity: 0.5;
            right: 140px;
            top: 250px;
        }

        15% {
            opacity: 0.5;
            right: 140px;
            top: 250px;
        }

        25% {
            opacity: 1;
            right: 160px;
            top: 70px;
        }

        85% {
            opacity: 1;
            right: 160px;
            top: 70px;
        }

        100% {
            opacity: 0.5;
            right: 140px;
            top: 250px;
        }
    }


    .face-bg {
        width: 60%;
        left: 25%;
    }
}


@media (max-width:399px) and (min-width:0px) {

    .fullimg {
        display: block;
    }

    .cloud-bg {
        display: none;
    }
}